In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import json
import re
import seaborn as sns
import folium
from analysis import *
from cleaning import *

# Importing data

In [2]:
file_path = './data/dice_jobs_list.csv'

In [3]:
dice = pd.read_csv(file_path)

In [4]:
dice.head()

,salary,crawled_at,description,title,url,country,industry,job_type,longitude,currency,education_requirements,postal_code,location,raw_description,skills,latitude,_id,company,posted_at,source
0,Depends on Experience,"04/16/2021, 19:51:28","Azure AD EngineerLocation: Charlotte, NCDurati...",Azure AD Engineer,https://www.dice.com/jobs/detail/Azure-AD-Engi...,US,IT Software,"Contract W2, Contract Independent",-80.843124,USD,IT Diploma/Degree/Certification,28201,"Charlotte, NC","<div class=""highlight-black"" id=""jobdescSec"">\...",Azure AD,35.227085,6ea0725a-554f-5db9-8fa3-81b8eea3d9c6,"Nutech Systems, Inc.",2021-04-13T22:31:54Z,https://www.dice.com
1,Depends on Experience,"04/16/2021, 19:51:31",We are looking for a Ad Operations Associate f...,Ad Operations Associate,https://www.dice.com/jobs/detail/Ad-Operations...,NaN,IT Software,Contract W2,0.000000,USD,IT Diploma/Degree/Certification,NaN,NaN,"<div class=""highlight-black"" id=""jobdescSec"">\...","Account management, Advertising, Content marke...",0.000000,68afe519-ecca-5fe8-a553-2b4511d367e2,"Software Resources, Inc.",2021-04-12T16:31:29Z,https://www.dice.com
2,Depends on Experience,"04/16/2021, 19:51:34",Job Title: Ad Operations Onsite AnalystLocatio...,Ad Operations Analyst,https://www.dice.com/jobs/detail/Ad-Operations...,US,IT Software,"Contract W2, Contract Independent",-122.411090,USD,IT Diploma/Degree/Certification,94066,"San Bruno, CA","<div class=""highlight-black"" id=""jobdescSec"">\...","Campaign management, Media buying, Analytics, ...",37.630490,9221c243-e03a-5c7c-96f6-37d8edcd39a6,"Tranzeal, Inc.",2021-04-14T20:15:06Z,https://www.dice.com
3,Market,"04/16/2021, 19:51:37",Job Description: This role is for a senior Pro...,"Project Manager - Ad Tech, Digital Business, A...",https://www.dice.com/jobs/detail/Project-Manag...,US,IT Software,Contract W2,-122.333220,USD,IT Diploma/Degree/Certification,98101,"Seattle, WA","<div class=""highlight-black"" id=""jobdescSec"">\...","Ad Tech, Digital Business, Agile, Sprints, Sma...",47.611330,493b1cc2-3c1e-5cd4-bd3e-d4a6403b2501,"Software Management Consultants, Inc.",2021-04-01T01:05:06Z,https://www.dice.com
4,Market,"04/16/2021, 19:51:39",Job Description: IT Service Desk Support Analy...,"Technical Support - Salesforce, TCP/IP, DNS, W...",https://www.dice.com/jobs/detail/Technical-Sup...,US,IT Software,Contract W2,-82.342995,USD,IT Diploma/Degree/Certification,33601,"Tampa, FL","<div class=""highlight-black"" id=""jobdescSec"">\...","Salesforce, TCP/IP, DNS, WINS, AD, ServiceNow",27.981146,34d5e29c-0645-5567-b4c1-2820abcc316f,"Software Management Consultants, Inc.",2021-04-10T01:05:17Z,https://www.dice.com

In [5]:
dice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9814 entries, 0 to 9813
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   salary                  9813 non-null   object
 1   crawled_at              9814 non-null   object
 2   description             9814 non-null   object
 3   title                   9814 non-null   object
 4   url                     9814 non-null   object
 5   country                 8613 non-null   object
 6   industry                9814 non-null   object
 7   job_type                9814 non-null   object
 8   longitude               9814 non-null   float64
 9   currency                9814 non-null   object
 10  education_requirements  9814 non-null   object
 11  postal_code             8232 non-null   object
 12  location                8602 non-null   object
 13  raw_description         9814 non-null   object
 14  skills                  9569 non-null   object
 15  latitude                9814 non-null   float64
 16  _id                     9814 non-null   object
 17  company                 9814 non-null   object
 18  posted_at               9812 non-null   object
 19  source                  9814 non-null   object
dtypes: float64(2), object(18)
memory usage: 1.5+ MB

# Cleaning the dataset

In [6]:
df = dice.drop(['crawled_at', 'raw_description', '_id', 'source'], axis=1)
df.head()

,salary,description,title,url,country,industry,job_type,longitude,currency,education_requirements,postal_code,location,skills,latitude,company,posted_at
0,Depends on Experience,"Azure AD EngineerLocation: Charlotte, NCDurati...",Azure AD Engineer,https://www.dice.com/jobs/detail/Azure-AD-Engi...,US,IT Software,"Contract W2, Contract Independent",-80.843124,USD,IT Diploma/Degree/Certification,28201,"Charlotte, NC",Azure AD,35.227085,"Nutech Systems, Inc.",2021-04-13T22:31:54Z
1,Depends on Experience,We are looking for a Ad Operations Associate f...,Ad Operations Associate,https://www.dice.com/jobs/detail/Ad-Operations...,NaN,IT Software,Contract W2,0.000000,USD,IT Diploma/Degree/Certification,NaN,NaN,"Account management, Advertising, Content marke...",0.000000,"Software Resources, Inc.",2021-04-12T16:31:29Z
2,Depends on Experience,Job Title: Ad Operations Onsite AnalystLocatio...,Ad Operations Analyst,https://www.dice.com/jobs/detail/Ad-Operations...,US,IT Software,"Contract W2, Contract Independent",-122.411090,USD,IT Diploma/Degree/Certification,94066,"San Bruno, CA","Campaign management, Media buying, Analytics, ...",37.630490,"Tranzeal, Inc.",2021-04-14T20:15:06Z
3,Market,Job Description: This role is for a senior Pro...,"Project Manager - Ad Tech, Digital Business, A...",https://www.dice.com/jobs/detail/Project-Manag...,US,IT Software,Contract W2,-122.333220,USD,IT Diploma/Degree/Certification,98101,"Seattle, WA","Ad Tech, Digital Business, Agile, Sprints, Sma...",47.611330,"Software Management Consultants, Inc.",2021-04-01T01:05:06Z
4,Market,Job Description: IT Service Desk Support Analy...,"Technical Support - Salesforce, TCP/IP, DNS, W...",https://www.dice.com/jobs/detail/Technical-Sup...,US,IT Software,Contract W2,-82.342995,USD,IT Diploma/Degree/Certification,33601,"Tampa, FL","Salesforce, TCP/IP, DNS, WINS, AD, ServiceNow",27.981146,"Software Management Consultants, Inc.",2021-04-10T01:05:17Z

In [7]:
data_types = {'salary': 'string', 'description': 'string', 'title': 'string', 'url': 'string',
             'country': 'string', 'industry': 'string', 'job_type': 'string', 'longitude': 'float64', 'currency': 'string',
             'education_requirements': 'string', 'postal_code': 'string', 'location': 'string', 'skills': 'string', 
             'latitude': 'float64', 'company': 'string', 'posted_at': 'datetime64'}
df = df.astype(data_types)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9814 entries, 0 to 9813
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   salary                  9813 non-null   string
 1   description             9814 non-null   string
 2   title                   9814 non-null   string
 3   url                     9814 non-null   string
 4   country                 8613 non-null   string
 5   industry                9814 non-null   string
 6   job_type                9814 non-null   string
 7   longitude               9814 non-null   float64
 8   currency                9814 non-null   string
 9   education_requirements  9814 non-null   string
 10  postal_code             8232 non-null   string
 11  location                8602 non-null   string
 12  skills                  9569 non-null   string
 13  latitude                9814 non-null   float64
 14  company                 9814 non-null   string
 15  posted_at               9812 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), string(13)
memory usage: 1.2 MB

In [8]:
df.loc[df.skills.isna(), 'skills']

87      <NA>
91      <NA>
261     <NA>
262     <NA>
263     <NA>
        ...
9491    <NA>
9532    <NA>
9545    <NA>
9622    <NA>
9786    <NA>
Name: skills, Length: 245, dtype: string

In [9]:
df['skills'].replace(np.nan, '', inplace=True)
df.loc[df.skills.isna(), 'skills']

Series([], Name: skills, dtype: string)

In [10]:
df.replace('', np.nan, inplace=True)

In [11]:
df.loc[df.isna().any(axis=1), :]

,salary,description,title,url,country,industry,job_type,longitude,currency,education_requirements,postal_code,location,skills,latitude,company,posted_at
1,Depends on Experience,We are looking for a Ad Operations Associate f...,Ad Operations Associate,https://www.dice.com/jobs/detail/Ad-Operations...,<NA>,IT Software,Contract W2,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"Account management, Advertising, Content marke...",0.000000,"Software Resources, Inc.",2021-04-12 16:31:29
7,No Salary Listed,Flexion is currently seeking a REMOTE AAD/AD A...,REMOTE AAD/AD Active Directory Consultant (3669),https://www.dice.com/jobs/detail/REMOTE-AAD%26...,<NA>,IT Software,Contract W2,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"Active Directory, Azure Active Directory",0.000000,Flexion Inc,2021-04-06 12:30:55
13,$65 - $70,JOB Description :Solution Architect- Microsoft...,Solution Architect,https://www.dice.com/jobs/detail/Solution-Arch...,US,IT Software,Contract W2,-104.99025,USD,IT Diploma/Degree/Certification,<NA>,"Denver, Colorado","Microsoft AD, ForgeRock, IIQ, .Net stack",39.739235,Igen Systems,2021-04-07 14:46:16
17,"$100,000 - $130,000",Remote position - work from home - as some of ...,Identity Security Consultant,https://www.dice.com/jobs/detail/Identity-Secu...,<NA>,IT Software,Full Time,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"Identity Access Management, Privilege Access M...",0.000000,XMS Solutions Inc,2021-03-30 20:45:21
22,"$60,000 - $120,000",BlueSage Solutions is hiring. Cutting edge tec...,Java Software Developer,https://www.dice.com/jobs/detail/Java-Software...,<NA>,IT Software,Full Time,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"Java, Azure, MySQL, GitHub, Groovy, Sencha, Ex...",0.000000,Blue Sage Solutions,2021-04-09 19:30:02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9801,Depends on Experience,"Minimum Requirements:3+ years, SharePoint, One...",SharePoint Engineer,https://www.dice.com/jobs/detail/SharePoint-En...,<NA>,IT Software,Contract W2,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"SharePoint, O365, Active Directory, Azure AD",0.000000,Indotronix International Corp,2021-03-23 18:18:12
9806,"$60,000 - $120,000",BlueSage Solutions is hiring. Cutting edge tec...,Java Software Developer,https://www.dice.com/jobs/detail/Java-Software...,<NA>,IT Software,Full Time,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"Java, Azure, MySQL, GitHub, Groovy, Sencha, Ex...",0.000000,Blue Sage Solutions,2021-04-09 19:30:02
9809,Depends on Experience,LumenVox has an exciting opportunity for a Sof...,Software Developer - Remote,https://www.dice.com/jobs/detail/Software-Deve...,<NA>,IT Software,Full Time,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"natural language processing, voice biometrics,...",0.000000,LumenVox,2021-04-14 14:15:40
9810,"$80,000 - $110,000",WANTED: Full-Stack Node JS/React (Node.js) (10...,Full-Stack Node JS/React Developer - 100% Remote,https://www.dice.com/jobs/detail/Full%26%2345S...,<NA>,IT Software,Full Time,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"Engineering, HTML, JavaScript, MongoDB, Node.j...",0.000000,Giftnix,2021-04-06 18:30:02
9813,Depends on Experience,We are looking for a Senior Java Developer (Re...,Senior Java Developer,https://www.dice.com/jobs/detail/Senior-Java-D...,<NA>,IT Software,Full Time,0.00000,USD,IT Diploma/Degree/Certification,<NA>,<NA>,"Microsoft Azure Cloud, Source Control Software...",0.000000,Working Solutions,2021-04-07 14:46:29

# Only keeping US data

In [12]:
df['country'].value_counts()

US    8438
CA      78
IN      51
us      15
UN       6
DK       6
BR       5
ca       3
BG       3
GB       3
IE       2
U.       1
LT       1
NL       1
Name: country, dtype: Int64

In [13]:
df.loc[df['country']=='us','location']

568       Minneapolis, MN
1942         Dearborn, MI
2096       Cincinnati, OH
2291    Sandy Springs, GA
4592       Cincinnati, OH
4642       Cincinnati, OH
4644       Cincinnati, OH
4648       Cincinnati, OH
4649       Cincinnati, OH
5371             Lehi, UT
5979         Dearborn, MI
5980         Dearborn, MI
8036      Santa Clara, CA
8105      Santa Clara, CA
8301          Ashburn, VA
Name: location, dtype: string

In [14]:
df['country'] = df['country'].replace({'us': 'US'})

In [15]:
df['country'].value_counts()

US    8453
CA      78
IN      51
UN       6
DK       6
BR       5
ca       3
BG       3
GB       3
IE       2
U.       1
LT       1
NL       1
Name: country, dtype: Int64

In [16]:
df = df.loc[(df['country']=='US'), :]
df.head()

,salary,description,title,url,country,industry,job_type,longitude,currency,education_requirements,postal_code,location,skills,latitude,company,posted_at
0,Depends on Experience,"Azure AD EngineerLocation: Charlotte, NCDurati...",Azure AD Engineer,https://www.dice.com/jobs/detail/Azure-AD-Engi...,US,IT Software,"Contract W2, Contract Independent",-80.843124,USD,IT Diploma/Degree/Certification,28201,"Charlotte, NC",Azure AD,35.227085,"Nutech Systems, Inc.",2021-04-13 22:31:54
2,Depends on Experience,Job Title: Ad Operations Onsite AnalystLocatio...,Ad Operations Analyst,https://www.dice.com/jobs/detail/Ad-Operations...,US,IT Software,"Contract W2, Contract Independent",-122.411090,USD,IT Diploma/Degree/Certification,94066,"San Bruno, CA","Campaign management, Media buying, Analytics, ...",37.630490,"Tranzeal, Inc.",2021-04-14 20:15:06
3,Market,Job Description: This role is for a senior Pro...,"Project Manager - Ad Tech, Digital Business, A...",https://www.dice.com/jobs/detail/Project-Manag...,US,IT Software,Contract W2,-122.333220,USD,IT Diploma/Degree/Certification,98101,"Seattle, WA","Ad Tech, Digital Business, Agile, Sprints, Sma...",47.611330,"Software Management Consultants, Inc.",2021-04-01 01:05:06
4,Market,Job Description: IT Service Desk Support Analy...,"Technical Support - Salesforce, TCP/IP, DNS, W...",https://www.dice.com/jobs/detail/Technical-Sup...,US,IT Software,Contract W2,-82.342995,USD,IT Diploma/Degree/Certification,33601,"Tampa, FL","Salesforce, TCP/IP, DNS, WINS, AD, ServiceNow",27.981146,"Software Management Consultants, Inc.",2021-04-10 01:05:17
5,Depends on Experience,"Mandatory:· Sr level experience, Netwo...",AD/DNS Engineer,https://www.dice.com/jobs/detail/AD%26%2347DNS...,US,IT Software,"Contract W2, Contract Independent",-117.900290,USD,IT Diploma/Degree/Certification,92821,"Brea, CA","Active Directory, DNS, Networking, Routing, Su...",33.916473,The Proven Method,2021-04-08 19:45:59

In [17]:
df['country'].value_counts()

US    8453
Name: country, dtype: Int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8453 entries, 0 to 9812
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   salary                  8452 non-null   string
 1   description             8453 non-null   string
 2   title                   8453 non-null   string
 3   url                     8453 non-null   string
 4   country                 8453 non-null   string
 5   industry                8453 non-null   string
 6   job_type                8453 non-null   string
 7   longitude               8453 non-null   float64
 8   currency                8453 non-null   string
 9   education_requirements  8453 non-null   string
 10  postal_code             8085 non-null   string
 11  location                8390 non-null   string
 12  skills                  8212 non-null   string
 13  latitude                8453 non-null   float64
 14  company                 8453 non-null   string
 15  posted_at               8451 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), string(13)
memory usage: 1.1 MB

# Extraction state and adding region column

In [19]:
df['location'].value_counts()

New York, NY         275
Atlanta, GA          243
San Francisco, CA    206
Chicago, IL          187
Austin, TX           177
                    ...
Hillsdale, MI          1
Sharon, PA             1
Warrenville, IL        1
Ames, IA               1
Harrison, NY           1
Name: location, Length: 1111, dtype: Int64

In [20]:
us_states_file_path = './data/states.csv'
us_states = pd.read_csv(us_states_file_path, dtype={'State': 'category', 'State Code': 'category', 
                                                     'Region': 'category', 'Division': 'category'})
us_states.rename(columns=lambda x: x.lower(), inplace=True)
us_states.head()

        state state code region            division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific

In [ ]:
us_states['state code'].unique().size

In [ ]:
us_states['region'].unique()

In [ ]:
df['state'] = df['location'].str.strip().str[-2:]
df['city'] = df['location'].str.strip().str[:-4]

# This seemed repetitive so we commented it out
# Filter the dataset to include only job postings with a valid US state code
# df = df[df['state'].isin(us_states['state code'])]

# Now data['states'].unique() should only contain valid US state codes
df['state'].unique()

df

In [ ]:
# Extracting the 'city' and 'state' as 2 seperate columns from 'location' column
df = df.merge(us_states, left_on='state', right_on='state code', validate='m:1', suffixes=['_d', '_s'])
df.drop(['state code', 'state_s'], axis=1, inplace=True)
col_name = list(df.columns)
col_name[col_name.index('state_d')] = 'state'
df.columns = col_name

In [ ]:
df.head()

In [ ]:
df = df.astype({'state': 'category', 'currency': 'category'})
df.info()

In [ ]:
# checking for exceptions
df.currency.unique()

In [ ]:
#checking for null values
df[['longitude', 'latitude', 'location']].isna().any().sum()

# Cleaning salary column

In [ ]:
df['salary'] = df.salary.apply(lambda x: x.lower() if pd.notna(x) else np.nan)

In [ ]:
df['salary'].replace('no salary listed', np.nan, inplace=True)

In [ ]:
df = df.astype({'salary': 'string'})

In [ ]:
df.loc[df.salary.isna(), 'salary']

In [ ]:
# Calling function from cleaning.py
detect_number('45')

In [ ]:
df.info()

In [ ]:
salary_with_numbers = df['salary'].apply(lambda x: True if (pd.notna(x) and detect_number(x)) else False)
salary_with_numbers

In [ ]:
df.loc[~salary_with_numbers, 'salary'].unique()

In [ ]:
# Calling function from cleaning.py
find_salary('100,00,00,.453k')

In [ ]:
# Calling function from cleaning.py
salaries_and_frequency = df.loc[salary_with_numbers, 'salary'].apply(lambda x: det_salary_range_and_frequency(x))

In [ ]:
sal_df = pd.DataFrame(salaries_and_frequency.to_dict()).transpose()
sal_df

In [ ]:
df.loc[salary_with_numbers, ['min_salary', 'max_salary', 'frequency']] = sal_df

In [ ]:
df.head()

In [ ]:
df.loc[df[['min_salary', 'max_salary', 'frequency']].notna().any(axis=1), ['min_salary', 'max_salary', 'frequency']]

In [ ]:
# defining the datatypes
df = df.astype({'min_salary': 'float64', 'max_salary': 'float64', 'frequency': 'category'})

In [ ]:
df.head()

In [ ]:
# Calling functions from cleaning.py
df['min_annual_comp'] = df.apply(lambda row: calc_min_comp(row), axis=1)
df['max_annual_comp'] = df.apply(lambda row: calc_max_comp(row), axis=1)
df.head()

In [ ]:
# calculating mean
df['mean_salary'] = (df['min_annual_comp'] + df['max_annual_comp']) / 2

In [ ]:
# Exception cases that were causing errors
df_mt = df.loc[df.state=='MT', :]
df_mt

In [ ]:
sal_num_mt = df_mt['salary'].apply(lambda x: True if (pd.notna(x) and detect_number(x)) else False)
sal_num_mt

In [ ]:
salaries_and_frequency = df_mt.loc[salary_with_numbers, 'salary'].apply(lambda x: det_salary_range_and_frequency(x))
salaries_and_frequency

# Cost of living index data import

In [ ]:
cost_of_living_file_path = './data/cost_of_living_index.csv'
cost_of_living_dtypes = {'city': 'string', 'state':'string', 'cost_of_living_index': 'float64'}
cost_of_living_df = pd.read_csv(cost_of_living_file_path)
cost_of_living_df.columns = list(map(lambda x: x.lower().replace(' ', '_'), list(cost_of_living_df.columns)))
cost_of_living_df = cost_of_living_df.astype(cost_of_living_dtypes)
print(cost_of_living_df.info())
cost_of_living_df.head()

# Analysis and Visualizations

## Job Postings by Region

In [ ]:
region_count = df['region'].value_counts()
# Plot the bar graph of job postings by region
region_count.plot(kind='bar')
plt.title('Job Postings by Region')
plt.xlabel('Region')
plt.ylabel('Number of Job Postings')
plt.show()

## Job Skill Matching with User Skills

In [ ]:
#testing skill fn
user_skills = ['Python', 'SQL', 'Node.js' , 'React.js']

# Call the function from analysis.py
matched_data = calculate_skill_match(df, user_skills)

# sort the DataFrame by the 'skill_match' column in descending order
sorted_data = matched_data.sort_values(by='skill_match', ascending=False)

# select the top 20 rows from the sorted DataFrame
top_matched = sorted_data.head(20)

# print the selected columns from the top 20 rows
print(top_matched[['title', 'company', 'location', 'skill_match', 'salary']])

In [ ]:
df.head()

## Show Jobs within a Salary Range

In [ ]:
salary_range = '80000-100000'
top_matches = filter_jobs_by_salary_range(df, salary_range).head(10)
print(top_matches[['title', 'company', 'location', 'job_type', 'mean_salary']])

## Top skills in the jobs

In [ ]:
# call function from analysis.py
top_skills = top_skills(df, n=15)

# Print the top skills
print(top_skills)

In [ ]:
top_skills.plot(kind='bar')
plt.title('Top Skills')
plt.xlabel('Skills')
plt.ylabel('Demand')
plt.show()

## Most popular job title by State

In [ ]:
most_popular_jobs_by_state = jobs_by_state(df)
most_popular_jobs_by_state = most_popular_jobs_by_state[most_popular_jobs_by_state['counts'] > 0]
most_popular_jobs_by_state = most_popular_jobs_by_state.sort_values(by='counts', ascending=False)
print(most_popular_jobs_by_state)

# Create the plot
plt.figure(figsize=(18, 8))
sns.barplot(x='counts', y='state', hue='title', data=most_popular_jobs_by_state)
plt.title('Most Popular Job Titles by State')
plt.xlabel('Number of Job Postings')
plt.ylabel('State')
plt.show()

In [ ]:
# commented out because its a very heavy function which slows down the whole notebook. Attached screencshot of working in readme.
map = create_job_map(df)
map

## Mean Salary Distribution by Job Role

In [ ]:
# calling function from analysis.py
plot_salary_distribution(df, "software")

## Cost of Living Analysis

In [ ]:
cost_of_living_state_df = cost_of_living_df.groupby('state').agg(func='mean').reset_index()
cost_of_living_state_df.head()

In [ ]:
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

cost_of_living = [88.4, 131.3, 97.3, 86.9, 144.7, 109.3, 128.5, 112.8, 100.5, 92.5, 192.9, 92.4, 96.7, 91.8, 89.6, 89.4, 91.8, 93.9, 96.6, 120.7, 138.4, 97.4, 101.9, 85.6, 91.3, 92.7, 91.8, 96.6, 120.7, 138.4, 91.2, 102.9, 93.4, 93.4, 94.4, 96.6, 110.1, 87.9, 87.7, 94.2, 90.4, 94.1, 90.3, 96.6, 110.7, 100.5, 95.9, 88.1, 95.8, 97.5]
plt.figure(figsize=(20, 8))
plt.bar(states, cost_of_living, color='blue')
plt.xticks(rotation=90)
plt.xlabel('State')
plt.ylabel('Cost of Living Index')
plt.title('Cost of Living by State in USA')
plt.show()

In [ ]:
# calling function from analysis.py
adjusted_sal_df = calculate_adjusted_salary(df, cost_of_living_df, cost_of_living_state_df)
print(adjusted_sal_df.info())
adjusted_sal_df.head()